// global font-family and weight//
$sans-serif: 'Mulish';
$normal: normal;

@mixin bold {
  line-height: 100%;
  font-size: 100%;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

@mixin h2 {
    font-size: 2em;
    font-weight: bold;
}

@mixin h3 {
    font-size: 3vw;
    font-weight: bold;
}

@mixin h4 {
    line-height: 100%;
    font-size:  1.375em;
    font-weight: bold;
    margin-top: 1vh;
    min-width: 193px;
}

@mixin h5 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
}

@mixin p {
    font-size: 1em;
    letter-spacing: normal;
}

@mixin winning_item {
    margin-bottom: 1%;
    max-width: 190px;
    opacity: 0.6;
    line-height: 26px;
    margin-top: 1%;
}