
// in relation to parent element//
$full-father: 100%;
$half-father:50%;
$quarter-father: 25%;
$third-father: 27%;

$height-navfoot: 4vh;

$logo-width: 15%;
//logo height is 100%//

$height-header: 29vh;
$width-header: 65%;

$height-middle: 20vh;

@mixin content_size {
    height: 70%;
    width: 80%;
    margin-top: 5%;
}

@mixin awards_height {
    margin-top: 1vh;
    margin-bottom: 11vh;
}


