//////////////// home page  ///////////

// in relation to parent element//
$full-father: 100%;
$half-father:50%;
$quarter-father: 25%;

// body //
$width-full: 100vw;
$height-full: 100vh;

// navigation and foot //
$height-navfoot: 6vh;
$width-navfoot: 81.5vw;

// logo size//
$logo-width: 10%;
//logo height is 100%//

// header //
$height-header: 29vh;
$width-header: 76vw;

//main//
$height-main: 80vh;
$width-main: 81.6vw;

// middle div //
$height-middle: 2.7vh;

// section awards //
$height-awards: 21vh;

// grid //
$height-grid: 51vh;
// width is main width! //



