@use '../genetics' as *;

header {
  nav {
    height: $height-navfoot;
    width: $full-father;
    @include nav_father;

    div.logo {
      width: $logo-width;
      height: $full-father;
      @include logo_flex;
    }
  }
}

ul {
  width: $full-father;
  height: $full-father;
  @include nav_fetus;
  @include list-reset;
  
  li {
    width: $logo-width;
    height: $full-father;
    @include nav_links;
    @include body_reset;
    
    a.bold {
      @include bold;
    }
  }
}